﻿@model IEnumerable<khoudoley08.Models.Student>
@{
    //ViewData["Title"] = "Список студентів";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Список студентів</title>
</head>
<body>
    <h3>Студенти</h3>
    <table>
        <tr>
            <td>Ім'я</td>
            <td>Прізвище</td>
            <td>По-батькові</td>
            <td>Дата народження</td>
            <td>Дата вступу</td>
            <td>Індекс групи</td>
            <td>Факультет</td>
            <td>Спеціальність</td>
            <td>Успішність</td>
            <td></td>
        </tr>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.Lastname</td>
                <td>@student.Patronym</td>
                <td>@student.Birthday</td>
                <td>@student.Date</td>
                <td>@student.Index</td>
                <td>@student.Faculty</td>
                <td>@student.Specialty</td>
                <td>@student.Progress</td>
            </tr>
        }
    </table>
</body>
</html>